<!doctype html>
<html lang="en" ng-app>

<head>
  <title>Buy and Sell</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
<!--
The load function below was created by Mikhail Timofeev
-->
  <script>
    function load() {
      $.ajax({
        url: "/get/html",
        cache: false,
        success: function(html) {
          $("#results").append(html);
        }
      });
    };

    $(document).ready(function() {
      load();
      //$("#forSale,#toBuy").hide();//hide the input boxes on screen load
    });
  </script>
  
</head>

<body>
  <div class="container">
    <div class="page-header">
      <h1>Buy & Sell</h1>
    </div>
    
    <button class="button buyingButton">Buying</button>
    
    <button class="button sellingButton">Selling</button>
    
    <!-- For Sale Box-->
    <div class="row">
      <div id="results" class="span12">
      </div>
      <div id="forSale" class="span6">
        <ul class="nav nav-list well">
          <li>
            <form enctype='application/json' action="/post/json" method="post">
              <div class="field">
                <input type="text" name="ItemForSale" placeholder="Item for sale" required>
              </div>
              <div class="field">
                <input type="text" name="Price" placeholder="Price">
              </div>
              <div class="field">
                <input type="text" name="Description" placeholder="Description">
              </div>
              <div class="field">
                <input type="text" name="Contact_details" placeholder="Contact details">
              </div>
              <div class="field">
                <button type="submit" class="forSaleButton">SUBMIT SALE</button>
              </div>
            </form>
          </li>
        </ul>
      </div>
      
     <!-- To buy box -->
     <div id="toBuy" class="span6">
        <ul class="nav nav-list well">
          <li>
            <form enctype='application/json' action="/post/json" method="post">
              <div class="field">
                <input type="text" name="ItemToBuy" placeholder="Item to buy">
              </div>
              <div class="field">
                <input type="text" name="Price" placeholder="Price">
              </div>
              <div class="field">
                <input type="text" name="Description" placeholder="Description">
              </div>
              <div class="field">
                <input type="text" name="Contact_details" placeholder="Contact details">
              </div>
              <div class="field">
                <button type="submit" class="toBuyButton">SUBMIT ENQUIRY</button>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>

  </div>
</body>

  
</html>